/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.back-to-top svg {
    transform: scale(1.5);
}
.back-to-top {
    width: 48px;
    position: fixed;
    bottom: 0px;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
    z-index: 20;
}
.back-to-top.active-to-top {
    bottom: 16px;
    pointer-events: auto;
    opacity: 1;
}
html {
    scroll-behavior: smooth;
}
.back-to-top div:hover {
    animation: btt 1s linear infinite alternate;
}
@keyframes btt {
  0%   {transform: scale(1);}
  50%  {transform: scale(1.1);}
  100% {transform: scale(1);}
}

.wp-block-meow-gallery-gallery .mg-images img:only-child {
    max-height: 400px !important;
    height: auto !important;
    width: auto !important;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.wp-block-meow-gallery-gallery .mg-images {
    max-height: 400px !important;
    height: auto !important;
}
.wp-block-meow-gallery-gallery .mg-images .mgl-row:only-child {
    max-height: 400px !important;
    height: auto !important;
}
